# Source
src/

# Config
tsconfig.json
.gitignore
.turbo/

# Development
node_modules/
*.tsbuildinfo
.DS_Store
CONTRIBUTING.md

# Tests
**/*.test.ts
**/*.test.js
**/*.spec.ts
**/*.spec.js

# IDE
.vscode/
.idea/
*.swp
*.swo
